@font-face {
    font-family: 'peace_sans';
    src: url('../fonts/peace_sans_webfont-webfont.woff2') format('woff2'),
        url('../fonts/peace_sans_webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.headbar {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url(../images/bg-1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 1;
}

nav {
    height: 60px;
    width: 100%;
    margin: 0;
}

nav ul {
    float: left;
    padding: 7px 0px 0px 100px;

}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
    padding: 8px;
}

nav ul li a {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    text-decoration: none;
    display: block;

}

nav ul li ul {
    display: none;
    position: absolute;
    padding: 10px;
    background-color: #000;
    border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 150px;
    border-radius: 4px;
}

nav ul li ul li a {
    padding: 5px 10px;
}

nav ul li ul li a:hover {
    background-color: #BE90D4;
}


.logo {
    height: 40px;
    width: 10%;
    float: left;
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 120px;

}

.navright {
    float: right;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    padding-right: 80px;
}

.headcentre {}

.headcentre h4 {
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 150px 0px 20px 0px;
}


.headcentre h1 {
    color: #fff;
    font: 400 130px/1 'Peace_Sans';
    letter-spacing: .5px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 !important;
}

.headcentre h2 {
    color: #fff;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-weight: 200;
    margin: 0 !important;
}

.headbtn {
    text-align: center;
    padding-top: 40px;
}

.button {
    color: #fff;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    padding: 15px 35px;
    border-style: none;
    background-color: #bed094;
    border-radius: 35px 35px 35px 35px;
    opacity: 0.8;
}

.sectiontwo {
    width: 100%;
    overflow: auto;

}

.twocenter {
    width: 60%;
    margin: auto;
    padding: 120px 0px 120px 0px;
}

.twocenter h4 {
    color: #000000;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
}

.twocenter p {
    color: #000000;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: normal;
    font-family: "Nunito Sans", sans-serif;
}

.twocenter h5 {
    color: #aeaeae;
    text-align: center;
    font-size: 14px;
    letter-spacing: normal;
    font-weight: 400;
    font-family: "Nunito Sans", sans-serif;
}

.read {
    padding-left: 5px;
    text-decoration-line: underline;
}

.sectionthree {
    overflow: auto;
    width: 100%;
    background: #f2f4ec;
}

.headthird {
    width: 80%;
    margin: auto;
    padding: 100px 0px 20px 0px;
}

.headthird h5 {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    margin: 0;

}

.headthird h3 {
    color: #000;
    font-family: "Montserrat";
    font-size: 45px;
    letter-spacing: -1px;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.photobox {
    width: 100%;
    overflow: auto;
}

.imagebox {
    width: 90%;
    margin: auto;
    overflow: auto;
}

.photodiv {
    width: 33.3%;
    float: left;
    padding: 20px;
    margin: 0;
}

.photoboxone {
    height: 190px;
    width: 100%;
    background-image: url(../images/bg-1.jpg);
    background-size: cover;
    background-position: left;
    display: table;
    background-attachment: fixed;
}

.photoboxtwo {
    height: 190px;
    width: 100%;
    background-image: url(../images/bg-1.jpg);
    background-size: cover;
    background-position: top;
    display: table;
    background-attachment: fixed;
}


.photoboxthird {
    height: 190px;
    width: 100%;
    background-image: url(../images/bg-1.jpg);
    background-size: cover;
    background-position: bottom;
    display: table;
    background-attachment: fixed;
}

.icon {
    color: #fff;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.docfirst {
    height: 250px;
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 50px 0 50px 0;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, .07);
}

.docfirst h2 {
    color: #000000;
    font-family: "Montserrat", sans-serif;
    line-height: 24.2px;
    letter-spacing: -0.5px;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    margin: 0;
    padding: 5px 0 5px 0;

}

.docfirst h4 {
    color: #000000;
    font-family: "Nunito Sans", sans-serif;
    line-height: 24.75px;
    letter-spacing: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 3px 0 3px 0;
}

.docfirst h5 {
    color: #000000;
    font-family: "Nunito Sans", sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
    margin: 0;
    padding: 20px 0 20px 0;
}

.headbottom {
    padding: 30px 0 30px 0;
    text-align: center;
}

.headbottom p {
    color: #aeaeae;
    font-size: 14px;
    font-weight: 400;
    font-family: "Nunito Sans", sans-serif;
    letter-spacing: normal;
}

.btn {
    width: 15%;
    margin: auto;
    padding: 30px 0 50px 0;


}

.touchbtn {
    color: #000;
    text-align: center;
    font-size: 10;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    padding: 15px 30px 15px 30px;
    border: 1px solid #aeaeae;
    ;
    border-radius: 30px 30px 30px 30px;
    background-color: #f2f4ec;
}

.touchbtn:hover {
    background-color: lightsteelblue;
}

.sectionfour {
    overflow: auto;
    width: 100%;
    background-color: #fff;
    padding: 80px 0 30px 0;
}

.headtitle {
    margin: auto;
    overflow: auto;
}

.headtitle h2 {
    text-align: center;
    font-family: "Montserrat";
    font-size: 45px;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0;
}

.headtitle h5 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    ;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
}

.listitem {
    width: 100%;
    overflow: auto;
    padding: 20px 0px 10px 0px;
}

.list {
    width: 30%;
    margin: auto;
    background-color: rebeccapurple;
}

.list li {
    float: left;
    list-style: none;
    padding: 5px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
}

.photogallery {
    width: 100%;
    overflow: auto;
}

.gallery {
    width: 33.3%;
    float: left;
    padding: 10px;
    margin: 0;
}

.galleryone {
    height: 300px;
    width: 100%;
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-position: center;
}

.gallerysec {
    height: 300px;
    width: 100%;
    background-image: url(../images/2.jpg);
    background-size: cover;
    background-position: center;
}

.gallerythird {
    height: 300px;
    width: 100%;
    background-image: url(../images/3.jpg);
    background-size: cover;
    background-position: center;
}

.imagegallery {
    width: 100%;
    overflow: auto;
}

.sectiongallery {
    width: 33.3%;
    float: left;
    padding: 10px;
    margin: 0;
}

.galleryfirst {
    height: 300px;
    width: 100%;
    background-image: url(../images/4.jpg);
    background-size: cover;
    background-position: center;
}

.gallerytwo {
    height: 300px;
    width: 100%;
    background-image: url(../images/5.jpg);
    background-size: cover;
    background-position: center;
}

.gallerythree {
    height: 300px;
    width: 100%;
    background-image: url(../images/6.jpg);
    background-size: cover;
    background-position: center;
}

.sectionfive {
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 150px 0 150px 0;
    background: #f2f4ec;
}

.creativebox {
    width: 90%;
    margin: auto;
    overflow: auto;

}

.iconbox {
    float: left;
    width: 33.3%;
    margin: 0;

}

.iconimg {
    height: 70px;
    width: 70px;
    padding-right: 5px;
}

.iconfont {
    padding-left: 10px;
    margin: 0;
}

.iconfont h5 {
    color: #000;
    font-size: 10px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    margin: 0;
    line-height: 35px;
}

.iconfont p {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
}

.sectionsix {
    width: 100%;
    margin: 0;
    overflow: auto;
    padding: 90px 0 30px 0;
}

.containhead {
    width: 80%;
    margin: auto;
    overflow: auto;
}

.containhead h5 {
    color: #000;
    font-size: 10px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
    line-height: 25px;
}

.containhead h2 {
    color: #000;
    font-size: 40px;
    font-weight: 900;
    font-family: "Montserrat";
    letter-spacing: -1px;
    margin: 0;
    text-align: center;
}

.photoshoot {
    width: 100%;
    overflow: auto;
    padding: 40px 0 20px 0;
}

.photosection {
    width: 90%;
    margin: auto;
    overflow: auto;
}

.shootgallery {
    width: 33.3%;
    float: left;
    padding: 10px;
    margin: 0;

}

.photofirst {
    height: 350px;
    width: 100%;
    background-image: url(../images/team1.jpg);
    background-size: cover;
    background-position: left;
}

.phototwo {
    height: 350px;
    width: 100%;
    background-image: url(../images/team2.jpg);
    background-size: cover;
    background-position: top;
}

.photothree {
    height: 350px;
    width: 100%;
    background-image: url(../images/team3.jpg);
    background-size: cover;
    background-position: center;
}

.sectionseven {
    width: 100%;
    margin: 0;
    background-color: #000;
    overflow: auto;
}

.numbersection {
    width: 90%;
    margin: auto;
    overflow: auto;
    padding: 70px 0 70px 0;
}

.numbercount {
    width: 25%;
    float: left;
    margin: 0;
}

.number h2 {
    color: #fff;
    font-family: "Montserrat";
    font-size: 65px;
    letter-spacing: -1px;
    font-weight: 600;
    text-align: center;
    line-height: 78px;
    margin: 0;
}

.nmbtext h5 {
    color: #fff;
    font-size: 18px;
    letter-spacing: normal;
    font-weight: 200;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    line-height: 35px;
}

.nmbtext p {
    color: #fff;
    font-size: 14px;
    letter-spacing: normal;
    font-weight: 300;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    line-height: 28px;
    margin: 0;
}

.sectioneight {
    height: 70%;
    width: 100%;
    background-image: url(../images/bg-1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 2;
    overflow: auto;
    display: inline-block;
    display: table;
}

.bgtext {
    width: 80%;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.top {
    color: #fff;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 500;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    line-height: 10px;
    margin: 0;
}

.bottom {
    color: #fff;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 500;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    line-height: 50px;
    margin: 0;
}

.bgtext h2 {
    color: #fff;
    font-size: 45px;
    letter-spacing: normal;
    font-weight: 600;
    text-align: center;
    font-family: "Montserrat";
    line-height: 64px;
    margin: 0;

}

.bgtext h4 {
    color:#fff;
    font-size: 18px;
    letter-spacing: normal;
    font-weight: 100;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    line-height: 20px;
    padding-top: 40px;
    margin: 0;
}
